<!DOCTYPE html>
<html lang="en" dir="ltr" data-mode="light" class="scroll-smooths group" data-theme-color="blue">
    <head>



       <link rel="stylesheet" href="/assets/libs/choices.js/public//assets/styles/choices.min.css">

        <link rel="stylesheet" href="/assets/css/icons.css" />
        <link rel="stylesheet" href="/assets/css/tailwind.css" />




    </head>
    
    <body class="bg-white dark:bg-neutral-800">




        <div class="main-content">
            <div class="page-content">

                <section class="pt-28 lg:pt-44 pb-28 page-header bg-[url('../images/home/page-title.png')] bg-center bg-cover relative" >
                    <div class="container mx-auto">
                        <div class="grid">
                            <div class="col-span-12">
                                <div class="text-center text-white">
                                    <h3 class="mb-4 text-[26px]">Mon profil</h3>
                                    <div class="page-next">
                                        <nav class="inline-block" aria-label="breadcrumb text-center">
                                            <ol class="flex justify-center text-sm font-medium uppercase">
                                                <li><a href="index">Accueil</a></li>
                                                <li><i class="bx bxs-chevron-right align-middle px-2.5"></i><a href="javascript:void(0)">Mon profil</a></li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="/assets/images/about/shape.png" alt="" class="absolute block bg-cover -bottom-0 dark:hidden">
                    <img src="/assets/images/about/shape-dark.png" alt="" class="absolute hidden bg-cover -bottom-0 dark:block">
                </section>

                <!-- Start grid -->
                    <section class="py-20">
                        <div class="container mx-auto">
                            <div class="grid grid-cols-12 gap-y-10 lg:gap-10">
                                <div class="col-span-12 lg:col-span-4">
                                    <div class="border rounded border-gray-100/50 dark:border-neutral-600">
                                        <div class="p-5 border-b border-gray-100/50 dark:border-neutral-600">
                                            <div class="text-center">
                                                <img [src]="user.user.student && user.user.student.photo!=null ? domaineUrl+user.user.student.photo : '/assets/images/avatar.png'" [alt]="user.user?.student?.firstname" class="photo1 p-1 mx-auto rounded-full border-gray-200/20">
                                                <h6 class="mt-4 mb-0 text-lg text-gray-900 dark:text-gray-50"> {{student.first_name}} {{student.last_name}}</h6>
                                                <p class="mb-4 text-gray-500 dark:text-gray-300"><b>Classe :</b> {{student.classe}}<br> <b>Ecole : </b>{{options.ownschool?.school?.name}} </p>
<!--                                                 <ul class="flex flex-wrap justify-center gap-2 mb-0">
                                                    <li class="w-10 h-10 text-lg leading-10 transition-all duration-300 ease-in-out rounded bg-blue-500/20 text-blue-500 hover:bg-blue-500 hover:text-white">
                                                        <a href="javascript:void(0)" class="social-link rounded-3 "><i class="uil uil-facebook-f"></i></a>
                                                    </li>
                                                    <li class="w-10 h-10 text-lg leading-10 transition-all duration-300 ease-in-out rounded bg-sky-500/20 text-sky-500 hover:bg-sky-500 hover:text-white">
                                                        <a href="javascript:void(0)" class="social-link rounded-3 btn-soft-info"><i class="uil uil-twitter-alt"></i></a>
                                                    </li>
                                                    <li class="w-10 h-10 text-lg leading-10 text-green-500 transition-all duration-300 ease-in-out rounded bg-green-500/20 hover:bg-green-500 hover:text-white">
                                                        <a href="javascript:void(0)" class="social-link rounded-3 btn-soft-success"><i class="uil uil-whatsapp"></i></a>
                                                    </li>
                                                    <li class="w-10 h-10 text-lg leading-10 text-red-500 transition-all duration-300 ease-in-out rounded bg-red-500/20 hover:bg-red-500 hover:text-white">
                                                        <a href="javascript:void(0)" class="social-link rounded-3 btn-soft-danger"><i class="uil uil-phone-alt"></i></a>
                                                    </li>
                                                </ul> -->
                                            </div>
                                        </div>
                                        <div class="p-5">
                                            <div class="pb-5 border-b border-gray-100/50 dark:border-neutral-600">
                                                <h6 class="mb-5 font-semibold text-gray-900 text-17 dark:text-gray-50">Documents</h6>
                                                <ul class="">
                                                    <li>
                                                        <div class="flex items-center mt-4 ">
                                                            <div class="text-2xl text-gray-500 shrink-0">
                                                                <i class="uil uil-file"></i>
                                                            </div>
                                                            <div class="ml-4">
                                                                <h6 class="mb-0 text-gray-900 text-16 dark:text-gray-50">
                                                                    Curriculum vitæ
                                                                    </h6>
                                                                <p class="mb-0 text-gray-500 dark:text-gray-300">1.25 MB</p>
                                                            </div>
                                                            <div class="ml-auto text-xl">
                                                                <a href="/assets/images/dark-logo.png" download="" class="text-gray-500 fs-20"><i class="uil uil-import"></i></a>
                                                            </div>
                                                        </div>
                                                    </li>
<!--                                                     <li>
                                                        <div class="flex items-center mt-4 ">
                                                            <div class="text-2xl text-gray-500 shrink-0">
                                                                <i class="uil uil-file"></i>
                                                            </div>
                                                            <div class="ml-4">
                                                                <h6 class="mb-0 text-gray-900 text-16 dark:text-gray-50">Cover-letter.pdf</h6>
                                                                <p class="mb-0 text-gray-500 dark:text-gray-300">1.25 MB</p>
                                                            </div>
                                                            <div class="ml-auto text-xl">
                                                                <a href="/assets/images/dark-logo.png" download="" class="text-gray-500 fs-20"><i class="uil uil-import"></i></a>
                                                            </div>
                                                        </div>
                                                    </li> -->
                                                </ul>
                                            </div>
                                            
                                        </div>
                                        <div class="p-5 pt-0">
                                            <h6 class="mb-3 font-semibold text-gray-900 text-17 dark:text-gray-50">Contacts</h6>
                                            <ul class="mb-0">
                                                <li class="pb-3">
                                                    <div class="flex">
                                                        <label class="w-32 font-medium text-gray-900 dark:text-gray-50">Adresse électronique</label>
                                                        <div>
                                                            <p class="mb-0 text-gray-500 text-break dark:text-gray-300">
                                                                {{user.user.email}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="pb-3">
                                                    <div class="flex">
                                                        <label class="w-32 font-medium text-gray-900 dark:text-gray-50">Téléphone</label>
                                                        <div>
                                                            <p class="mb-0 text-gray-500 dark:text-gray-300">{{student.phone}}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="pb-3">
                                                    <div class="flex">
                                                        <label class="w-32 font-medium text-gray-900 dark:text-gray-50">Adresse</label>
                                                        <div>
                                                            <p class="mb-0 text-gray-500 dark:text-gray-300">{{student.address}}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-span-12 lg:col-span-8">
                                    <div class="border rounded border-gray-100/50 dark:border-neutral-600 nav-tabs bottom-border-tab">
                                        <div class="px-6 py-0 border-b border-gray-100/50 dark:border-neutral-600">
                                        
                                            <ul class="items-center text-sm font-medium text-center text-gray-700 nav md:flex">
                                                <li class="active" role="presentation">
                                                    <button 
                                                    [ngClass]="{'active': overview === true}"
                                                    class="inline-block w-full py-4 px-[18px] dark:text-gray-50 
                                                    
                                                        " (click)="changetab('overview')" data-tw-toggle="tab" type="button" data-tw-target="overview-tab" name="overview">
                                                        Aperçu
                                                    </button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button 
                                                    [ngClass]="{'active': settings === true}" 
                                                    class="inline-block w-full py-4 px-[18px] dark:text-gray-50"  
                                                    (click)="changetab('settings')" 
                                                    data-tw-toggle="tab" type="button" data-tw-target="settings-tab" name="settings">
                                                        Paramètres
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                            
                                            <div class="p-6 tab-content">
                                                <div class="block w-full tab-pane" *ngIf="overview">
                                                    <div class="mt-2 space-y-8">
                                                        <div>
                                                            <h5 class="text-lg font-bold text-gray-900 dark:text-gray-50">About</h5>
                                                            <div [innerHtml]="student.bio" class="mt-4 text-gray-500 dark:text-gray-300">

                                                            </div>
                                                     
                                                        </div>
                                                    </div>
<!--                                                     <div class="mt-6">
                                                        <h6 class="text-lg font-bold text-gray-900 dark:text-gray-50">Education</h6>
                                                        <div class="relative flex mt-5">
                                                            <div class="after:content-[''] after:absolute after:hidden after:md:block after:border after:border-dashed after:h-24 after:left-5 after:top-10 after:border-blue-500/20"></div>
                                                            <div class="w-10 h-10 text-xl leading-10 text-center rounded-full shrink-0 bg-blue-500/20 text-blue-500">
                                                                B
                                                            </div>
                                                            <div class="ml-4">
                                                                <h6 class="mb-1 text-gray-900 text-16 dark:text-gray-50">
                                                                    BCA - Bachelor of Computer Applications
                                                                </h6>
                                                                <p class="mb-2 text-gray-500 dark:text-gray-300">
                                                                    International University - (2004 - 2010)
                                                                </p>
                                                                <p class="text-gray-500 dark:text-gray-300">
                                                                    There are many variations of passages of available,
                                                                    but the majority alteration in some form. As a
                                                                    highly skilled and successfull product development
                                                                    and design specialist with more than 4 Years of My
                                                                    experience.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="relative flex mt-5">
                                                            <div class="after:content-[''] after:absolute after:hidden after:md:block after:border after:border-dashed after:h-24 after:left-5 after:top-10 after:border-blue-500/20"></div>

                                                            <div class="w-10 h-10 text-xl leading-10 text-center rounded-full shrink-0 bg-blue-500/20 text-blue-500">
                                                                M
                                                            </div>
                                                            <div class="ml-4">
                                                                <h6 class="mb-1 text-gray-900 text-16 dark:text-gray-50">
                                                                    MCA - Master of Computer Application
                                                                </h6>
                                                                <p class="mb-2 text-gray-500 dark:text-gray-300">
                                                                    International University - (2010 - 2012)
                                                                </p>
                                                                <p class="text-gray-500 dark:text-gray-300">
                                                                    There are many variations of passages of available,
                                                                    but the majority alteration in some form. As a
                                                                    highly skilled and successfull product development
                                                                    and design specialist with more than 4 Years of My
                                                                    experience.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="flex mt-5 re">
                                                            <div class="w-10 h-10 text-xl leading-10 text-center rounded-full shrink-0 bg-blue-500/20 text-blue-500">
                                                                D
                                                            </div>
                                                            <div class="ml-4">
                                                                <h6 class="mb-1 text-gray-900 text-16 dark:text-gray-50">
                                                                    Design Communication Visual
                                                                </h6>
                                                                <p class="mb-2 text-gray-500 dark:text-gray-300">
                                                                    International University - (2012-2015)
                                                                </p>
                                                                <p class="text-gray-500 dark:text-gray-300">
                                                                    There are many variations of passages of available,
                                                                    but the majority alteration in some form. As a
                                                                    highly skilled and successfull product development
                                                                    and design specialist with more than 4 Years of My
                                                                    experience.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-6">
                                                        <h6 class="text-lg font-bold text-gray-900 dark:text-gray-50">Experiences</h6>
                                                        <div class="relative flex mt-5">
                                                            <div class="after:content-[''] after:absolute after:hidden after:md:block after:border after:border-dashed after:h-24 after:left-5 after:top-10 after:border-blue-500/20"></div>
                                                            <div class="w-10 h-10 text-xl leading-10 text-center rounded-full shrink-0 bg-blue-500/20 text-blue-500">
                                                                W
                                                            </div>
                                                            <div class="ml-4">
                                                                <h6 class="mb-1 text-gray-900 text-16 dark:text-gray-50">
                                                                    Web Design & Development Team Leader
                                                                </h6>
                                                                <p class="mb-2 text-gray-500 dark:text-gray-300">
                                                                    Creative Agency - (2013 - 2016)
                                                                </p>
                                                                <p class="text-gray-500 dark:text-gray-300">
                                                                    There are many variations of passages of available,
                                                                    but the majority alteration in some form. As a
                                                                    highly skilled and successfull product development
                                                                    and design specialist with more than 4 Years of My
                                                                    experience.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="flex mt-5">
                                                            <div class="w-10 h-10 text-xl leading-10 text-center rounded-full shrink-0 bg-blue-500/20 text-blue-500">
                                                                P
                                                            </div>
                                                            <div class="ml-4">
                                                                <h6 class="mb-1 text-gray-900 text-16 dark:text-gray-50">
                                                                    Project Manager
                                                                </h6>
                                                                <p class="mb-2 text-gray-500 dark:text-gray-300">
                                                                    Jobcy Technology Pvt.Ltd - (Pressent)
                                                                </p>
                                                                <p class="text-gray-500 dark:text-gray-300">
                                                                    There are many variations of passages of available,
                                                                    but the majority alteration in some form. As a
                                                                    highly skilled and successfull product development
                                                                    and design specialist with more than 4 Years of My
                                                                    experience.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    <div class="mt-6">
                                                        <h6 class="text-lg font-bold text-gray-900 dark:text-gray-50">Compétences</h6>
                                                        <div class="flex flex-wrap gap-3 mt-3">
                                                            <span 
                                                            *ngFor="let info of kills.ownkills;"
                                                            class="mt-2 text-13 px-2 py-0.5 bg-blue-500/20 text-blue-500 rounded font-medium">{{info.kills[0].name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="mt-6">
                                                        <h6 class="text-lg font-bold text-gray-900 dark:text-gray-50">Langues</h6>
                                                        <div class="flex flex-wrap gap-3 mt-3">
                                                            <span 
                                                            *ngFor="let item of options.langues; let i = index"
                                                            class="mt-2 text-13 px-2 py-0.5 bg-green-500/20 text-green-500 rounded font-medium">{{item.languages.title}}</span>
                                             
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="block w-full tab-pane" *ngIf="settings">
                                                    <div class="pt-8 space-x-8">
                                                        <form action="#">
                                                            <div>
                                                                
                                                                <div class="text-center">
                                                                    <div class="relative mb-4">
                                                                        <img [src]="user.user.student && user.user.student.photo!=null ? domaineUrl+user.user.student.photo : '/assets/images/avatar.png'" [alt]="user.user?.student?.firstname" class="photo p-1 mx-auto  rounded-full border-gray-100/50 dark:border-neutral-600" id="profile-img" >
                                                                        <div class="absolute w-8 h-8 leading-8 text-center rounded-full shadow-md bottom-2 right-[42%] z-40 bg-gray-50 dark:bg-neutral-700 dark:text-white">
                                                                            <input id="profile-img-file-input" type="file" [(ngModel)]="student.photo"  (change)="fileChangeEvent($event)" class="hidden" onchange="previewImg()">
                                                                            <label for="profile-img-file-input" class="" >
                                                                                <i class="uil uil-edit"></i>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <h5 class="mb-3 font-semibold text-17 dark:text-gray-50">Mon profil</h5> 
                                                                <div class="mt-5">
                                                                    <div class="grid grid-cols-12 gap-5">
                                                                        <div class="col-span-12 lg:col-span-6">
                                                                            <div class="mb-3">
                                                                                <label for="firstName" class="text-sm text-gray-900 dark:text-gray-50">Prénom</label>
                                                                                <input 
                                                                                [(ngModel)]="student.first_name" 
                                                                                type="text" 
                                                                                name="first"
                                                                                class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600"
                                                                                />
                                                                            </div>
                                                                        </div>
                                                                        <!--end col-->
                                                                        <div class="col-span-12 lg:col-span-6">
                                                                            <div class="mb-3">
                                                                                <label for="lastName" class="text-sm text-gray-900 dark:text-gray-50">Nom</label>
                                                                                <input type="text"  [(ngModel)]="student.last_name" name="last_name" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="lastName" >
                                                                            </div>
                                                                        </div>
                                                                        <!--end col-->
                                                                        <div class="col-span-12 lg:col-span-6">
                                                                            <div class="mb-3">
                                                                                <label for="choices-single-categories" class="text-sm text-gray-900 dark:text-gray-50">Ecole</label>
                                                                                <div class="mt-1">
                                                                                    <select  [(ngModel)]="student.school" name="school" class="w-full mt-1 group-data-[theme-color=blue]:bg-blue-400/40 group-data-[theme-color=sky]:bg-sky-400/40 group-data-[theme-color=red]:bg-red-400/40 group-data-[theme-color=green]:bg-green-400/40 group-data-[theme-color=pink]:bg-pink-400/40 group-data-[theme-color=blue]:bg-blue-400/40 py-2.5 rounded border-transparent placeholder:text-sm placeholder:text-gray-50 text-white">
                                                                                        <option *ngFor="let item of options.schools; let i = index" [value]="item.id">{{item.name}}</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--end col-->
                                                                        <div class="col-span-12 lg:col-span-6">
                                                                            <div class="mb-3">
                                                                                <label for="email" class="text-sm text-gray-900 dark:text-gray-50">Classe</label>
                                                                                <input type="text"  [(ngModel)]="student.classe" name="classe" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="email" value="Jansh@gmail.com">
                                                                            </div>
                                                                        </div>
                                                                        <!--end col-->
                                                                        <!--end col-->
                                                                        <div class="col-span-12 lg:col-span-6">
                                                                            <div class="mb-3">
                                                                                <label for="choices-single-categories" class="text-sm text-gray-900 dark:text-gray-50">Téléphone</label>
                                                                                <div class="mt-1">
                                                                                    <input type="text"  [(ngModel)]="student.phone" name="phone" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="email" value="Jansh@gmail.com">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--end col-->
                                                                        <div class="col-span-12 lg:col-span-6">
                                                                            <div class="mb-3">
                                                                                <label for="email" class="text-sm text-gray-900 dark:text-gray-50">Adresse</label>
                                                                                <input type="text"  [(ngModel)]="student.address" name="address" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="email" value="Jansh@gmail.com">
                                                                            </div>
                                                                        </div>
                                                                        <!--end col-->

                                                                        <div class="col-span-12 lg:col-span-6">
                                                                            <div class="mb-3">
                                                                                <label for="choices-single-categories" class="text-sm text-gray-900 dark:text-gray-50">Date de naissance</label>
                                                                                <div class="mt-1">
                                                                                    <input type="date"  [(ngModel)]="student.birth" name="birth" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="email" value="Jansh@gmail.com">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--end col-->
                                                                        <div class="col-span-12 lg:col-span-6">
                                                                            <div class="mb-3">
                                                                                <label for="email" class="text-sm text-gray-900 dark:text-gray-50">Genre</label>
                                                                                <select  [(ngModel)]="student.gender" name="gender" class="w-full mt-1 group-data-[theme-color=blue]:bg-blue-400/40 group-data-[theme-color=sky]:bg-sky-400/40 group-data-[theme-color=red]:bg-red-400/40 group-data-[theme-color=green]:bg-green-400/40 group-data-[theme-color=pink]:bg-pink-400/40 group-data-[theme-color=blue]:bg-blue-400/40 py-2.5 rounded border-transparent placeholder:text-sm placeholder:text-gray-50 text-white">
                                                                                    <option value="H">Homme</option>
                                                                                    <option value="F">Femme</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <!--end col-->
                                                                    </div>
                                                                </div>
                                                                <!--end row-->
                                                            </div>
                                                            <!--end account-->
                                                            <div class="mt-4">
                                                                <!-- h5 class="mb-3 font-semibold text-gray-900 text-17 dark:text-gray-50">Profile</h5> -->
                                                                <div class="grid grid-cols-12 gap-5">
                                                                    <div class="col-span-12">
                                                                        <div class="mb-3">
                                                                            <label for="exampleFormControlTextarea1" class="form-label dark:text-gray-300">Biographie</label>
                                                                            
                                                                           <!--  <textarea [(ngModel)]="student.bio" name="bio" class="w-full mt-1 text-sm rounded border-gray-100/50 dark:bg-transparent dark:border-neutral-600 dark:text-gray-300" id="exampleFormControlTextarea1" rows="5">{{student.bio}}</textarea> -->
                                                                        
                                                                            <ckeditor
                                                                            [editor]="Editor"
                                                                            [data]="student.bio"
                                                                            (ready)="onReady($event)"
                                                                            (change)="onChange($event)"
                                                                          >
                                                                          </ckeditor>                                                                        </div>
                                                                    </div>
                                                                    <!--end col-->
                                                                    <div class="col-span-12 lg:col-span-6">
                                                                        <div class="mb-3">
                                                                            <label for="languages" class="text-sm text-gray-900 dark:text-gray-50">Langues</label>
                                                                            <select  [(ngModel)]="student.language" name="langues" class="w-full mt-1 group-data-[theme-color=blue]:bg-blue-400/40 group-data-[theme-color=sky]:bg-sky-400/40 group-data-[theme-color=red]:bg-red-400/40 group-data-[theme-color=green]:bg-green-400/40 group-data-[theme-color=pink]:bg-pink-400/40 group-data-[theme-color=blue]:bg-blue-400/40 py-2.5 rounded border-transparent placeholder:text-sm placeholder:text-gray-50 text-white">
                                                                                <option *ngFor="let item of options.languages; let i = index" [value]="item.id">{{item.title}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <!--end col-->
                                                                    <div class="col-span-12 lg:col-span-6">
                                                                        <div class="mb-3">
                                                                            <div class="mt-1">
                                                                                <label for="formFileLg" class="inline-block mb-2 text-neutral-700 dark:text-neutral-200">Curriculum vitæ</label >
                                                                                    <input [(ngModel)]="student.cv"  name="cv" (change)="getFile($event)" class="relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border border-gray-100/50 bg-clip-padding pr-3 py-[0.32rem] font-normal leading-[2.15] text-neutral-700 transition duration-300 ease-in-out file:mr-2 file:-my-[0.32rem] file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-gray-100/30 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:file:bg-neutral-700 dark:file:text-neutral-100 dark:focus:border-primary"
                                                                                        id="formFileLg" type="file" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end col-->
                                                                </div>
                                                                <!--end row-->
                                                                <div class="mt-8 text-right">
                                                                    <button class="text-white btn blue-b" (click)="updateProfile()">Mettre à jour</button>
                                                                </div>
                                                            </div>
                                                            <!--end profile-->
                                     <!--                        <div class="mt-4">
                                                                <h5 class="mb-3 font-semibold text-gray-900 text-17 dark:text-gray-50">Social Media</h5>
                                                                <div class="grid grid-cols-12 gap-5">
                                                                    <div class="col-span-12 lg:col-span-6">
                                                                        <div class="mb-3">
                                                                            <label for="facebook" class="text-sm text-gray-900 dark:text-gray-50">Facebook</label>
                                                                            <input type="text" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="facebook" value="https://www.facebook.com">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-span-12 lg:col-span-6">
                                                                        <div class="mb-3">
                                                                            <label for="twitter" class="text-sm text-gray-900 dark:text-gray-50">Twitter</label>
                                                                            <input type="text" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="twitter" value="https://www.twitter.com">
                                                                        </div>
                                                                    </div>
                                                                  
                                                                    <div class="col-span-12 lg:col-span-6">
                                                                        <div class="mb-3">
                                                                            <label for="linkedin" class="text-sm text-gray-900 dark:text-gray-50">Linkedin</label>
                                                                            <input type="text" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="linkedin" value="https://www.linkedin.com">
                                                                        </div>
                                                                    </div>
                                                                
                                                                    <div class="col-span-12 lg:col-span-6">
                                                                        <div class="mb-3">
                                                                            <label for="whatsapp" class="text-sm text-gray-900 dark:text-gray-50">Whatsapp</label>
                                                                            <input type="text" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" id="whatsapp" value="https://www.whatsapp.com">
                                                                        </div>
                                                                    </div>
                                                                   
                                                                </div>
                                                               
                                                            </div> -->
                                                            <!--end socia-media-->

                                                            <div class="mt-4" style="padding-bottom:50px;">
                                                                <h5 class="mb-3 font-semibold text-17 dark:text-gray-50">
                                                                    Compétences
                                                                </h5>
                                                                <div class="grid grid-cols-12 gap-5">
                                                                    <div class="col-span-12">
                                                                        <div class="mb-3">
                                                                            <label for="current-password-input" class="text-sm text-gray-900 dark:text-gray-50">Commencer à saisir</label>
                                                                            <input type="text" [(ngModel)]="term" name="term" (ngModelChange)="search()" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" placeholder="Entrez votre compétence" id="current-password-input">
                                                                        </div>

                                                                        <div class="flex flex-wrap gap-3 mt-3" *ngIf="term.length>0">
                                                                            <span (click)="addKill()" style="cursor:pointer;" class="mt-2 text-13 px-2 py-0.5 bg-red-500/20 text-red-500 rounded font-medium">{{term | titlecase}} (Cliquez pour ajouter)</span>
                                                                        </div>

                                                                        <div class="flex flex-wrap gap-3 mt-3">
                                                                            <span 
                                                                            style="cursor:pointer;" class="mt-2 text-13 px-2 py-0.5 bg-blue-500/20 text-blue-500 rounded font-medium" 
                                                                            *ngFor="let infos of listed;"
                                                                            (click)="addKillSelected(infos.name)"
                                                                            >
                                                                            {{infos.name | titlecase}} (Cliquez pour ajouter)
                                                                        </span>
                                                                        </div>

                                                                        
                                                                        <div class="flex flex-wrap gap-3 mt-3">
                                                                            <span 
                                                                            *ngFor="let info of kills.ownkills;"
                                                                            style="cursor:pointer;"
                                                                            (click)="deleteKill(info.id)"
                                                                            class="mt-2 text-13 px-2 py-0.5 bg-green-500/20 text-green-500 rounded font-medium">{{info.kills[0].name | titlecase}} (Cliquez pour retirer)
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                    
                                                                </div>
                                                                <!--end row-->
                                                            </div>

                                                            <div class="mt-4">
                                                                <h5 class="mb-3 font-semibold text-17 dark:text-gray-50">
                                                                    Sécurité
                                                                </h5>
                                                                <div class="grid grid-cols-12 gap-5">
                                                                    <div class="col-span-12">
                                                                        <div class="mb-3">
                                                                            <label for="current-password-input" class="text-sm text-gray-900 dark:text-gray-50">Mot de passe actuel</label>
                                                                            <input type="password" [(ngModel)]="security.old" name="old" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" placeholder="Entrez l'ancien mot de passe" id="current-password-input">
                                                                        </div>
                                                                    </div>
                                                                    <!--end col-->
                                                                    <div class="col-span-12 lg:col-span-6">
                                                                        <div class="mb-3">
                                                                            <label for="new-password-input" class="text-sm text-gray-900 dark:text-gray-50">Nouveau mot de passe</label>
                                                                            <input type="password" [(ngModel)]="security.new" name="new" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" placeholder="Entrer le nouveau mot de passe" id="new-password-input">
                                                                        </div>
                                                                    </div>
                                                                    <!--end col-->
                                                                    <div class="col-span-12 lg:col-span-6">
                                                                        <div class="mb-3">
                                                                            <label for="confirm-password-input" class="text-sm text-gray-900 dark:text-gray-50">Confirmer le nouveau mot de passe</label>
                                                                            <input type="password" [(ngModel)]="security.confirm" name="confirm" class="w-full mt-1 text-gray-500 border rounded border-gray-100/50 text-13 dark:bg-transparent dark:border-neutral-600" placeholder="Confirmer le nouveau mot de passe" id="confirm-password-input">
                                                                        </div>
                                                                    </div>
                                                                    <!--end col-->
<!--                                                                     <div class="col-span-12">
                                                                        <div class="form-check">
                                                                            <input class="align-middle rounded cursor-pointer focus:ring-0 focus:ring-offset-0 bg-gray-50 border-gray-100/50 checked:bg-blue-500 checked:border-transparent dark:bg-transparent dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-transparent" type="checkbox" value="" id="verification">
                                                                            <label class="ml-2 align-middle dark:text-gray-300" for="verification">
                                                                                Enable Two-Step Verification via email
                                                                            </label>
                                                                        </div>
                                                                    </div> -->
                                                                    <!--end col-->
                                                                </div>
                                                                <!--end row-->
                                                            </div>
                                                            <!--end Change-password-->
                                                            <div class="mt-8 text-right">
                                                                <button class="text-white btn blue-b" (click)="updatePassword()">Mettre à jour</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                <!-- End grid -->

                

            </div>
        </div>
        
        

        <!-- end subscribe -->
        <!-- Footer Start -->
        <app-footer></app-footer>

        <ngx-loading
        [show]="loading"
        [config]="{
        animationType: ngxLoadingAnimationTypes.circle,
          primaryColour: primaryColour,
          secondaryColour: secondaryColour,
          tertiaryColour: primaryColour,
          backdropBorderRadius: '3px'
        }"
      ></ngx-loading>


     <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>
     <script src="/assets/libs/@popperjs/core/umd/popper.min.js"></script>
     <script src="/assets/libs/simplebar/simplebar.min.js"></script>


    <script src="/assets/js/pages/switcher.js"></script>

     <script src="/assets/libs/choices.js/public//assets/scripts/choices.min.js"></script>

     <script src="/assets/js/pages/job-list.init.js"></script>
      
    <script src="/assets/js/pages/dropdown&modal.init.js"></script>

    <script src="/assets/js/pages/nav&tabs.js"></script>

    <script src="/assets/js/app.js"></script>
    
</body>
</html>
