<nav class="navbar fixed right-0 left-0 top-0 px-5 lg:px-24 transition-all duration-500 ease shadow-lg shadow-gray-200/20 bg-white border-gray-200 dark:bg-neutral-800 z-40 dark:shadow-neutral-900" id="navbar">
            <div class="mx-auto container-fluid">
                <div class="flex flex-wrap items-center justify-between mx-auto">
                    <a href="index.html" class="flex items-center">
                        <img src="../../../../assets/images/logo-app.png" alt="" class="logo-dark logo block dark:hidden">
                        <!-- <img src="/assets/images/logo-light.png" alt="" class="logo-dark h-[22px] hidden dark:block"> -->
                    </a>
                    <button data-collapse-toggle="navbar-collapse" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg navbar-toggler group lg:hidden hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    </button>
                    <div class="flex items-center lg:order-2" *ngIf="user.user; else guestMenu">
<!--                         <div>
                            <div class="relative dropdown">
                                <div class="relative">
                                    <button type="button" class="btn border-0 h-[70px] dropdown-toggle px-4 text-gray-500 dark:text-gray-300" aria-expanded="false" data-dropdown-toggle="notification">
                                        <i class="text-2xl mdi mdi-bell"></i>
                                    </button>
                                        <span class="absolute text-xs px-1.5 bg-red-500 text-white font-medium rounded-full left-6 top-3 ring-2 ring-white dark:ring-neutral-800">3</span>
                                </div>
                                <div class="absolute right-0 top-auto left-auto z-50 hidden list-none bg-white rounded shadow dropdown-menu w-72 dark:bg-neutral-800 " id="notification">
                                    <div class="border rounded border-gray-50 dark:border-neutral-600" aria-labelledby="notification">
                                        <div class="grid grid-cols-1 ">
                                            <div class="p-4 bg-gray-50 dark:bg-neutral-700">
                                                <h6 class="mb-1 text-gray-800 dark:text-gray-50"> Notification </h6>
                                                <p class="mb-0 text-gray-500 text-13 dark:text-gray-300">You have 4 unread Notification</p>
                                            </div>
                                        </div>
                                        <div class="h-60" data-simplebar>
                                            <div>
                                                <a href="#!">
                                                    <div class="flex p-4 hover:bg-gray-50/30 dark:hover:bg-neutral-600/50">
                                                        <div class="flex-shrink-0 ltr:mr-3 rtl:ml-3">
                                                            <div class="h-10 w-10 bg-blue-500/20 rounded-full text-center leading-[2.8]">
                                                                <i class="text-lg text-blue-500 uil uil-user-check"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow">
                                                            <h6 class="mb-1 text-sm text-gray-700 dark:text-gray-300">22 verified registrations</h6>
                                                            <div class="text-gray-600 text-13 dark:text-gray-300">
                                                                <p class="mb-0"><i class="mdi mdi-clock-outline dark:text-gray-300"></i> <span>3 hour ago</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                       
                                                <a href="#!">
                                                    <div class="flex items-center p-4 hover:bg-gray-50/30 dark:hover:bg-neutral-600/50">
                                                        <div class="flex-shrink-0 ltr:mr-3 rtl:ml-3">
                                                            <img src="assets/images/user/img-01.jpg" class="w-10 h-10 rounded-full" alt="user-pic">
                                                        </div>
                                                        <div class="flex-grow">
                                                            <h6 class="mb-1 text-sm text-gray-700 dark:text-gray-300">Kevin Stewart</h6>
                                                            <div class="text-gray-600 text-13 dark:text-gray-300">
                                                                <p class="mb-0"><i class="mdi mdi-clock-outline dark:text-gray-300"></i> <span>1 hour ago</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                                <a href="#!">
                                                    <div class="flex items-center p-4 hover:bg-gray-50/30 dark:hover:bg-neutral-600/50">
                                                        <div class="flex-shrink-0 ltr:mr-3 rtl:ml-3">
                                                            <img src="assets/images/featured-job/img-04.png" class="w-10 h-10 rounded-full" alt="user-pic">
                                                        </div>
                                                        <div class="flex-grow">
                                                            <h6 class="mb-1 text-sm text-gray-700 dark:text-gray-300">Applications has been approved</h6>
                                                            <div class="text-gray-600 text-13 dark:text-gray-300">
                                                                <p class="mb-0"><i class="mdi mdi-clock-outline dark:text-gray-300"></i> <span>45 min ago</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                                <a href="#!">
                                                    <div class="flex items-center p-4 hover:bg-gray-50/30 dark:hover:bg-neutral-600/50">
                                                        <div class="flex-shrink-0 ltr:mr-3 rtl:ml-3">
                                                            <img src="assets/images/user/img-02.jpg" class="w-10 h-10 rounded-full" alt="user-pic">
                                                        </div>
                                                        <div class="flex-grow">
                                                            <h6 class="mb-1 text-sm text-gray-700 dark:text-gray-300">Salena Layfield</h6>
                                                            <div class="text-gray-600 text-13 dark:text-gray-300">
                                                                <p class="mb-0"><i class="mdi mdi-clock-outline dark:text-gray-300"></i> <span>15 min ago</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                                <a href="#!">
                                                    <div class="flex items-center p-4 hover:bg-gray-50/30 dark:hover:bg-neutral-600/50">
                                                        <div class="flex-shrink-0 ltr:mr-3 rtl:ml-3">
                                                            <img src="assets/images/featured-job/img-01.png" class="w-10 h-10 rounded-full" alt="user-pic">
                                                        </div>
                                                        <div class="flex-grow">
                                                            <h6 class="mb-1 text-sm text-gray-700 dark:text-gray-300">Creative Agency</h6>
                                                            <div class="text-gray-600 text-13 dark:text-gray-300">
                                                                <p class="mb-0"><i class="mdi mdi-clock-outline dark:text-gray-300"></i> <span>15 min ago</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="grid p-1 border-t border-gray-50 dark:border-zinc-600 justify-items-center bg-gray-50 dark:bg-neutral-700">
                                            <a class="border-0 group-data-[theme-color=blue]:text-blue-500 group-data-[theme-color=sky]:text-sky-500 group-data-[theme-color=red]:text-red-500 group-data-[theme-color=green]:text-green-500 group-data-[theme-color=pink]:text-pink-500 group-data-[theme-color=blue]:text-blue-500 btn dark:text-gray-50" href="javascript:void(0)">
                                                <i class="mr-1 mdi mdi-arrow-right-circle"></i> <span>View More..</span> 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div *ngIf="user.user.role.code=='CANDIDAT'">
                            <div class="relative dropdown ltr:mr-4 rtl:ml-4">
                                <button type="button" class="flex items-center px-4 py-5 dropdown-toggle" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img class="avatar-h rounded-full ltr:xl:mr-2 rtl:xl:ml-2" [src]="user.user.student && user.user.student.photo!=null ? domaineUrl+user.user.student.photo : '/assets/images/avatar.png'" [alt]="user.user?.student?.firstname">
                                    <span style="padding-left:5px;" class="hidden fw-medium xl:block dark:text-gray-50"> {{ user.user.student ? user.user.student.first_name : "Mon compte"}}</span>
                                </button>
                                <ul class="absolute top-auto z-50 hidden w-48 p-3 list-none bg-white border rounded shadow-lg dropdown-menu border-gray-500/20 xl:ltr:-left-3 ltr:-left-32 rtl:-right-3 dark:bg-neutral-800" id="profile/log" aria-labelledby="navNotifications">
                                    <li class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                        <a class="text-15 font-medium text-gray-800  group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50" href="my-jobs">Candidatures</a>
                                    </li>

                                    <li class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                        <a class="text-15 font-medium text-gray-800  group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50" href="own-jobs">Mes emplois</a>
                                    </li>

                                    <li class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                        <a class="text-15 font-medium text-gray-800 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50" href="bookmarks">Favoris</a>
                                    </li>
                                    <li class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                        <a class="text-15 font-medium text-gray-800 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50" href="profile">Profil</a>
                                    </li>
                                    <li class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                        <a class="text-15 font-medium text-gray-800 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50" href="logout">Déconnexion</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="user.user.role.code=='ENTEPRISE'">
                            <div class="relative dropdown ltr:mr-4 rtl:ml-4" style="width: 350px;">
                                <button type="button" class="flex items-center px-4 py-5 dropdown-toggle" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img 
                                    class="avatar-h rounded-full ltr:xl:mr-2 rtl:xl:ml-2" 
                                    [src]="user.user.enterprise && user.user.enterprise.logo!=null ? domaineUrl+user.user.enterprise.logo : '/assets/images/avatar.png'" 
                                    [alt]="user.user?.enterprise?.name"
                                    >
                                    <span style="padding-left:5px;" class="hidden fw-medium xl:block dark:text-gray-50"> {{ user.user.enterprise ? user.user.enterprise.name : "Mon compte"}}</span>
                                </button>
                                <ul class="absolute top-auto z-50 hidden w-48 p-3 list-none bg-white border rounded shadow-lg dropdown-menu border-gray-500/20 xl:ltr:-left-3 ltr:-left-32 rtl:-right-3 dark:bg-neutral-800" id="profile/log" aria-labelledby="navNotifications">
                                    <li class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                        <a class="text-15 font-medium text-gray-800  group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50" href="manage-jobs">Gerer les emplois</a>
                                    </li>

                                    <li class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                        <a class="text-15 font-medium text-gray-800  group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50" href="my-students">Mes employés</a>
                                    </li>


                                    <li class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                        <a class="text-15 font-medium text-gray-800 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50" href="add-job">Nouvel emploi</a>
                                    </li>
                                    <li class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                        <a class="text-15 font-medium text-gray-800 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50" href="profile-enterprise">Profil</a>
                                    </li>
                                    <li class="p-2 dropdown-item group/dropdown dark:text-gray-300">
                                        <a class="text-15 font-medium text-gray-800 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-data-[theme-color=sky]:group-hover/dropdown:text-sky-500 group-data-[theme-color=red]:group-hover/dropdown:text-red-500 group-data-[theme-color=green]:group-hover/dropdown:text-green-500 group-data-[theme-color=pink]:group-hover/dropdown:text-pink-500 group-data-[theme-color=blue]:group-hover/dropdown:text-blue-500 group-hover:pl-1.5 transition-all duration-300 ease-in dark:text-gray-50" href="logout">Déconnexion</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ng-template #guestMenu>
                        <div class="flex items-center lg:order-2">
                            <div>
                                <div class="relative dropdown ltr:mr-4 rtl:ml-4">
                                    <button type="button" class="flex items-center px-4 py-5 dropdown-toggle" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <img class="w-8 h-8 rounded-full ltr:xl:mr-2 rtl:xl:ml-2" src="/assets/images/avatar.png" alt="Header Avatar">
                                        <span (click)="login()" class="hidden fw-medium xl:block dark:text-gray-50">Conexion</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <div id="navbar-collapse" class="navbar-res items-center justify-between w-full text-sm lg:flex lg:w-auto lg:order-1 group-focus:[.navbar-toggler]:block hidden">
                        <ul class="flex flex-col items-star mb-10 font-medium lg:mt-0 lg:mb-0 lg:items-center lg:flex-row" id="navigation-menu">
     
                            <li class="py-5 lg:px-4">
                                <a href="jobs" class="py-2.5 text-gray-800 font-medium leading-tight dark:text-gray-50" id="contact" data-bs-toggle="dropdown">Emplois </a>
                            </li>
                            <li class="py-5 lg:px-4">
                                <a href="companies" class="py-2.5 text-gray-800 font-medium leading-tight dark:text-gray-50" id="contact" data-bs-toggle="dropdown">Entreprises</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
</nav>

