<app-header  
    *ngIf="
    get_route()=='/index' || 
    get_route()=='/my-jobs' ||
    get_route()=='/my-students' ||
    get_route()=='/my-job' ||
    get_route()=='/own-jobs' ||
    get_route()=='/profile' ||
    get_route()=='/bookmarks' ||
    get_route()=='/profile-enterprise'  ||
    get_route()=='/companies'  ||
    get_route()=='/company' ||
    get_route()=='/jobs' ||
    get_route()=='/job' ||
    get_route()=='/manage-jobs' ||
    get_route()=='/add-job' ||
    get_route()=='/edit-job' 
"></app-header>
<router-outlet (activate)="onActivate($event)"></router-outlet>
<app-footer  
    *ngIf="
    get_route()=='/index' || 
    get_route()=='/dashboard'
"></app-footer>
