<footer class="footer ">

    <!-- strat footer alt -->
    <section class="py-6 border-t bg-zinc-800 border-gray-100/10 dark">
        <div class="container mx-auto">
            <div class="text-center">
                <p class="mb-0 text-center text-white">
                    <script>document.write(new Date().getFullYear())</script>
                    © Student 2 Staff - Conception et Gestion par : 
                    <a href="https://happisoft.ca/" target="_blank" class="underline transition-all duration-300 hover:text-gray-50">HappiSoft</a>
                </p>
            </div>
        </div>
    </section>
    <!-- end footer alt -->
</footer>
<!-- end Footer -->